# Ignore venv
venv/

# Ignore .idea
.idea/

# Ignore testdata
test/testdata

# Ignore .pyc
*.pyc
*.pkl
data/csv/patientHash.csv
Hash_map.csv
*.pyo

# Ignore compile results
build/
dist/

test/testdata/DICOM-PT-TEST/**
