# Ignore venv
venv/
.venv/

# Ignore .idea
.idea/

# Ignore testdata
test/testdata
test/batchtestdata

# Ignore .pyc
*.pyc
*.pkl
data/csv/patientHash.csv
Hash_map.csv
*.pyo

# Ignore compile results
build/
dist/