numpy
pandas
cython
cpython
scikit-build
scipy
dicompyler-core
pydicom
pyradiomics
PyQt5
country-list
git+https://github.com/matplotlib/legacycontour.git
fuzzywuzzy
matplotlib==3.2.0
PyWavelets==0.5.2
dataclasses==0.7;python_version=="3.6.*"
