alphashape
pandas
scikit-build
scipy
dicompyler-core
pydicom
country-list
scikit-image
fuzzywuzzy
PyWavelets==1.1.1
dataclasses==0.7;python_version=="3.6.*"
networkx
pymedphys>=0.35,<=0.37.1
git+https://github.com/Radiomics/pyradiomics.git
pytest-qt>=4.0.2
pytest
pyside6
git+https://github.com/anntzer/matplotlib.git@qt6
vtk